<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Car</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_car.css') }}">
</head>
<body>
    <div class="container">
        <h1>Edit Car Details</h1>
        <div class="flash-message {% if flash_message %}{{ flash_message.type }}{% endif %}">
            {% if flash_message %}
                {{ flash_message.message }}
            {% endif %}
        </div>

        <form method="POST" enctype="multipart/form-data">
            <div class="form-container">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" value="{{ car['title'] }}" required>
        
                <label for="description">Description</label>
                <textarea id="description" name="descriptions" required>{{ car['description'] }}</textarea>
        
                <label for="tags">Tags</label>
                <input type="text" id="tags" name="tags" value="{{ car['tags'] }}" required>

                <input type="submit" value="Update Car">
                
            </div>
        </form>
        

        <a href="{{ url_for('productlist') }}" class="back-btn">Back to Product List</a>

        <!-- Delete Button -->
        <form method="POST" action="{{ url_for('delete_car', car_id=car['id']) }}">
            <input type="submit" value="Delete Car" class="delete-btn" onclick="return confirm('Are you sure you want to delete this car?');">
        </form>
    </div>
</body>
</html>
